/* YOU KNOW WHAT? BECAUSE FUCK YOU. YEAAAH */
html{text-transform: uppercase !important;}
/* --------------------------------------- */

/* Thanks eric! \o/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}

/* remember to define focus styles! */
:focus {outline: 0;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a{ text-decoration: none; color: #67001d;}
a:hover{color: #000;}
a img{border: none;}
cite{font-style: normal;}

.clear{clear:both; height:1px; display:block; width:100%; overflow: hidden;}
.js_hidden{display: none;}
.js_really_hidden{display: none !important;}


body{background: #000 url(../images/global/dark_pink.jpg); font-family: Helvetica, Arial, sans-serif; color: #fff; padding-bottom: 50px;}


.faceblerk{background: #000; position: relative; padding: 5px 0 0; text-align: center; border-bottom: 1px solid #fff;}
.faceblerk iframe{ margin: 0 auto;}

.fuckyou{ padding: 0; background: url(../images/bankaivsabortifacient/yellowgrad.png) repeat-x top; text-align: center; border-top: 30px solid #ff0; position: relative;}
.fuckyou .m1{margin-top: -10px;}
.fuckyou .m1 a{color: #000; text-decoration: none; padding: 10px; font-weight: bold; font-size: 16px;}
.fuckyou .m1 a.allcaps{display: none;}
.fuckyou .m1 a.active{color: #c00;}
.fuckyou .m1 a:hover{color: #67001d;}

.fuckyou .penises{padding: 100px 0 30px; width: 950px; margin: 0 auto; position: relative;}
.fuckyou h1{text-indent: -999em;height: 280px; background: url(../images/ALLCAPSLOGO.png) no-repeat 0 0;}


/* rotate the bitches
-------------------------------------------------------- */
.consume .filter .product .image img,
.fuckyou .we_at_the_store{-moz-transform:rotate(2deg);}

.consume .detail .image img{-moz-transform:rotate(-1deg);}

.consume .filter .product.ne3 .image img{-moz-transform:rotate(-1deg);}
.consume .filter .product.ne2 .image img{-moz-transform:rotate(-2deg);}

.consume .static .greaterthan a:hover{-moz-transform:rotate(180deg);}


/* where we at
-------------------------------------------------------- */
.fuckyou .we_at_the_store{border:10px solid #000; background: #ff0; color: #000; font-size: 32px; width: 163px; text-align: center; position: absolute; top:79px; left: 200px; padding: 4px;}

/* nav
-------------------------------------------------------- */
.fuckyou .m2{text-align: left; display: block; position: absolute; top:110px; right: 0; width: 530px}
.fuckyou .m2 a{display: block; font-size: 32px; font-weight: bold; position: relative; padding: 10px 0;}
.fuckyou .m2 a .arrow{display: block;width: 10px; height: 20px; background: url(../images/shop/arrow/down_m2.png) no-repeat center; position: absolute; top:15px; left: 6px;}
.fuckyou .m2 a.info{font-size: 24px;}
.fuckyou .m2 a.info .arrow{display: none;}

