/* Thanks eric! \o/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}

/* remember to define focus styles! */
:focus {outline: 0;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a img{border: none;}
cite{font-style: normal;}

.clear{clear:both; height:1px; display:block; width:100%; overflow: hidden;}
.js_hidden{display: none;}
.js_really_hidden{display: none !important;}


body{background: #f0f url(../images/horrible_pink_background.jpg); font-family: "chunk-1","chunk-2"; color: #fff; text-transform: uppercase;}


.fuckyou{ padding: 0; background: url(../images/bankaivsabortifacient/yellowgrad.png) repeat-x top}
.fuckyou .penises{padding: 100px 0 30px; width: 666px; margin: 0 auto;}
.fuckyou h1{text-indent: -999em;height: 280px; background: url(../images/ALLCAPSLOGO.png) no-repeat 0 0;}

.fuckyou .durr{background: #200; width: 500px; padding: 40px 40px 30px; margin-left: 120px; line-height: 36px;}
.fuckyou .durr p{font-size: 36px; padding-bottom: 10px;font-weight: bold;}


.bitches{margin: 0 auto; width: 600px; color: #fff;}

.bitches .bitch{position: relative; padding: 20px 0 0 260px; height: 270px;}
.bitches .bitch img{position: absolute; top:0; left: 0;}

.bitches h2{font-size: 36px; line-height: 36px;  padding: 50px 0; text-transform: uppercase; text-shadow: 0px 2px 0px #c00}
.bitches .bitch h3 {font-size: 54px; text-transform: uppercase; padding: 10px 0; text-shadow: 0px 2px 0px #c00}
.bitches .bitch .problems a{display: block; background: #fff; color: #000; padding: 6px 10px; text-decoration: none; margin-bottom: 5px; float: left; clear: both; box-shadow: 0px 2px 0px #c00; -moz-box-shadow: 0px 2px 0px #c00}
.bitches .bitch .problems a:hover{color: #f0f; margin-left: 10px;}


.bitches .bearbot{text-align: right; padding: 20px 260px 0 0;}
.bitches .bearbot img{left: auto; right: 0;}
.bitches .bearbot .problems a{float: right;}
.bitches .bearbot .problems a:hover{margin-right: 10px; margin-left: auto;}

.faceblerk{background: #000; position: relative; padding: 5px 0 0; text-align: center;}
.faceblerk iframe{ margin: 0 auto;}


/* ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT ABORT */
.home_top_radness{background: #000 url(../images/bankaivsabortifacient/8-bit-backer.jpg) repeat-x bottom; height: 696px; margin: 0; padding: 0; position: relative; border-bottom: 15px solid #ff0;}
.home_top_radness .grarr{background: url(../images/bankaivsabortifacient/bankai_vs_abortifacient.jpg) no-repeat bottom; height: 696px;}

.home_top_radness h2{display: none;}

.home_top_radness .allcaps{display: block; position: absolute; top:300px; left: 60%; width: 397px; height: 171px; background: url(../images/bankaivsabortifacient/8-bit-coming-soon.png) no-repeat; text-indent: -999em;}
