/* Thanks eric! \o/ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}

/* remember to define focus styles! */
:focus {outline: 0;}
body {line-height: 1; color: black; background: white;}
ol, ul {list-style: none;}

/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a img{border: none;}
cite{font-style: normal;}

.clear{clear:both; height:1px; display:block; width:100%; overflow: hidden;}
.js_hidden{display: none;}
.js_really_hidden{display: none !important;}


body{background: #c50202; font-family: "chunk-1","chunk-2"; color: #c50202; text-transform: uppercase;}

.fuckyou{width: 666px; margin: 50px auto 0;}
.fuckyou h1{text-indent: -999em;height: 280px; background: url(../images/ALLCAPSLOGO.jpg) no-repeat 0 0; }

.fuckyou .durr{background: url(../images/slantybox.jpg) no-repeat 0 0; width: 480px; height: 163px; padding: 30px 50px 0 40px; margin-left: 120px; line-height: 28px;}
.fuckyou .durr p{font-size: 18px; padding-bottom: 15px;font-weight: bold;}


.bitches{margin: 0 auto; width: 600px; color: #000;}

.bitches .bitch{position: relative; padding: 20px 0 0 260px; height: 270px;}
.bitches .bitch img{position: absolute; top:0; left: 0;}

.bitches h2{font-size: 36px; line-height: 36px;  padding: 50px 0; text-transform: uppercase;}
.bitches .bitch h3 {font-size: 54px; text-transform: uppercase; padding: 10px 0;}
.bitches .bitch .problems a{display: block; background: #fff; color: #c50202; padding: 6px 10px; text-decoration: none; margin-bottom: 5px; float: left; clear: both;}
.bitches .bitch .problems a:hover{color: #000;}


.bitches .bearbot{text-align: right; padding: 20px 260px 0 0;}
.bitches .bearbot img{left: auto; right: 0;}
.bitches .bearbot .problems a{float: right;}