.releases{width: 900px; margin: 0 auto;}
.releases .release{position: relative; border-bottom: 10px solid #6a2350; padding: 30px 0 0; min-height: 250px}
.releases .release .cover{position: absolute; top:90px; left: 0;}
.releases .release .cover img{width: 150px;
-moz-transform:rotate(1deg);
-webkit-transform:rotate(1deg);
-ms-transform:rotate(1deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
border: 10px solid #000; background: #000;
}
.releases .release .cover:hover img{border-color: #f0f;}

.releases .release .stuff{padding: 20px 0 20px 200px; min-height: 140px;}
.releases .release h2{padding: 0 0 10px; font-size: 24px;}

.releases .release embed{border: 1px solid #000; margin: 10px 0}
.releases .release p{font-size: 18px; padding-bottom: 10px; color: #a38498}
.releases .release a{color: #fff; text-decoration: none;}
.releases .release a:hover{text-decoration: none;}


.releases .release p.massiv {font-size: 32px;}
.releases .release p.massiv a{display: block; font-size: 42px; font-family: "blackout-2am-1","blackout-2am-2"; color: #ff0}
.releases .release p.massiv a .bandcamp{display: block; font-family: Helvetica, sans-serif; font-size: 14px;}

.releases .release .otherz a{display: block; font-size: 18px; color: #a45e88; padding: 5px 0;}

.releases .release p.massiv a:hover,
.releases .release .otherz a:hover{color: #fff;}

.releases .release p a .at{font-family: Helvetica, sans-serif;}

.releases .floh{padding: 10px 50px 10px 110px; background: #000; position: relative; margin: 20px 0 0; font-size: 18px; line-height: 30px; color: #777; border: 1px solid #333;}
.releases .floh a{color: #999}
.releases .floh a:hover{color: #fff}
.releases .floh img{width: 80px; position: absolute; top:10px; left: 10px;}

.releases .soundcloud {padding-bottom: 20px;}
.releases .soundcloud p{font-family: Helvetica, sans-serif; font-size: 11px; opacity: 0.5}
.releases .soundcloud:hover p{opacity: 1;}